---
export const prerender = false;
import BaseLayout from '@/layout/BaseLayout.astro'; 
import NavBar from "@/components/navigation/index.astro"; 
import BannerTitleSeparator from '@/components/graphics/banner-title-separator.astro';
import RenderPagination from '@/components/paginatedBlog/renderPostPagination.tsx';
import { getPaginatedArray } from "@/hooks/blogHooks.ts"; 
import Searchbar from '@/components/search/index.astro';
import BlogPreview from '@/components/blogComponent/preview-panel.astro';
import type { 
    PostType, 
    } from '@/util/interface.tsx';
type ParamsType = {
    category_name: string;
    page: string; 
}
const {category_name, page} = Astro.params as ParamsType; 
 
let formattedCategoryName : string = category_name?.replace("-", " ") || ""; 
const PAGE_SIZE : number = 6.0; 
formattedCategoryName = formattedCategoryName?.charAt(0)?.toUpperCase() + formattedCategoryName?.slice(1)
let allPosts : Array<PostType> | [] = []; 
try{
    allPosts = await Astro.glob("../../../posts/*.md"); 
} catch(e) { allPosts = []}
let selectedPosts = allPosts.filter(post => post.frontmatter.category.toLowerCase() === formattedCategoryName.toLowerCase()); 
let totalPages : number = Math.ceil(selectedPosts.length/PAGE_SIZE);
let pageInt : number = parseInt(page); 
let paginatedArray = getPaginatedArray(selectedPosts, pageInt, PAGE_SIZE)

let inBound = page && typeof parseInt(page) === "number" && parseInt(page) <= totalPages; 
if(!inBound && totalPages != 0) {
    return Astro.redirect("/error")
}


---
<BaseLayout 
    pageTitle = "Blog Category"
    customDescription = {`All blog posts related to ${formattedCategoryName}`}
>
    <div class="banner-title-area">
        <div class="banner-title-overlay"></div>
        <NavBar />
        <div class="container w-container">
            <div class="banner-title-wrap">
                <h1 class="banner-area-title">All posts related to <span class = "text-primaryC">{formattedCategoryName}</span></h1>
                <BannerTitleSeparator customStyle = "mx-auto" />
            </div>
        </div>
    </div>

    <div class="divider-section">
        <div class="container w-container">
        <div class="divider-line"></div>
        </div>
    </div>
    <Searchbar />
    <div class="blog-section">
        <div class="container w-container">
        <div class="blog-content-wrap">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items w-row">
                <!-- Blog List  -->
                {selectedPosts.length === 0 &&
                    <h2
                        class ="text-center text-2xl my-5"
                    >There are currently no blog posts published at the moment.</h2>
                }
                {totalPages > 1 &&
                    <RenderPagination 
                        pageSize = {PAGE_SIZE}
                        totalCount = {selectedPosts.length as number}
                        currentPage = {parseInt(page)}
                        totalPages = {totalPages}
                        isMobile = {true}
                        client:load
                    />
                }
                {paginatedArray && paginatedArray.length > 0 && 
                    <div class = "">
                        {paginatedArray.map(async (post :PostType) =>{
                            return <BlogPreview 
                                {...post.frontmatter} 
                                url = {post.url}
                                />

                        })}
                    </div>
                }
                {totalPages > 1 &&
                    <div class = "w-full h-auto">
                            <RenderPagination 
                                pageSize = {PAGE_SIZE}
                                totalCount = {selectedPosts.length as number}
                                currentPage = {parseInt(page)}
                                totalPages = {totalPages}
                                isMobile = {false}
                                client:load
                            />
                    </div>
                }
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="client-section large-space-section">
        <div class="container w-container">
        <div class="section-center-title">
            <div class="center-title-wrap">
                <img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb8b7a92d8c38a29ac1a28_center-separator.svg" loading="lazy" alt="Title Large Separator"/>
                <h2 class="section-center-title-text dark-color-title">Meet the Partners</h2>
                <img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb8b7a92d8c38a29ac1a28_center-separator.svg" loading="lazy" alt="Title Large Separator"/>
            </div>
        </div>
        <div class="w-layout-grid client-image-grid [&>div]:mx-auto">
            <div id="w-node-d8340d9a-4334-c61c-ef20-dcec2d84015f-034100c3" class="client-image-item"><img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb9c7d506a9f3525f5c4ab_client-logo-1.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-d8340d9a-4334-c61c-ef20-dcec2d840161-034100c3" class="client-image-item"><img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb9c7d0fc70dce3699f4ab_client-logo-2.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-d8340d9a-4334-c61c-ef20-dcec2d840163-034100c3" class="client-image-item"><img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb9c7e6ba739a82705e9fa_client-logo-3.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-d8340d9a-4334-c61c-ef20-dcec2d840165-034100c3" class="client-image-item"><img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb9c7deb1c5944fd2a2b74_client-logo-4.svg" loading="lazy" alt="Client Logo"/></div>
            <div id="w-node-d8340d9a-4334-c61c-ef20-dcec2d840167-034100c3" class="client-image-item"><img src="https://assets-global.website-files.com/61fa5f4b4224e925032ca047/61fb9c7dd8aaa3d823c16db7_client-logo-5.svg" loading="lazy" alt="Client Logo"/></div>
        </div>
        </div>
    </div>
</BaseLayout>