---
const {
    type,
    description, 
    icon, 
} = Astro.props; 
const url = `/practice-areas/${type.toLowerCase().replace(/\s+/g, '-')}`
---
<div role="listitem" class="md:w-[300px] min-[992px]:w-[375px] 2xl:w-[468px] h-full md:min-w-[280px] lg:min-w-[270px]">
    <div class="practice-area-item h-auto hover:bg-slate-700 transition-all duration-1000">
        <div class="practice-listing-content-wrap !pb-[40px]">
            <div
                class = "h-[110px]"
            >
                <a href={url} class="practice-area-title">{type}</a>
            </div>
            <p class = "h-[235px] md:h-[300px] min-[991px]:h-[250px] max-h-[250px]">{description}</p>
        </div>
        <div class="grid [&>div]:mx-auto mb-0 mt-auto text-center sm:flex sm:flex-row sm:align-start">
            <div class="mx-auto w-[53px] min-[788px]:w-[53px] sm:mt-[20px]">
                <img 
                alt={type}
                decoding="async"
                loading="lazy" 
                src={icon.src}
                width="53"
                height="53"
                />
            </div>
            <div class="">
                <a href={url} class="practice-button w-button hover:bg-primaryC hover:text-secondaryC transition-all duration-1000">View More</a>
            </div>
        </div>
    </div>
</div>