---
import LogoComponent from "../logoComponent-lazy.astro"
import { practice_areas } from "./practice-areas-links";
import MobileDropDown from "./mobile-dropdown.tsx"; 
import LinkItem from "./linkItem.astro";
import "./nav-style.css";
import ConsultationBtn from "./consultation-btn.astro";
const currentPath = Astro.url.pathname;
---
<div 
class="bg-secondaryC w-[250px] h-full overflow-y-scroll fixed z-20 py-10 px-5 border-r-white border-r-2 border-r-solid transform-all duration-500 closedMobileMenu lg:hidden"
id="MobileMenu"
>
    <LogoComponent 
        customDiv = "header-logo w-[200px]"
    />
    <div
        class = "flex flex-col !text-white"
    >
        <nav role="navigation" class="flex flex-col">
            <ConsultationBtn 
                wrapperStyle = ""
            />
            <LinkItem 
                {currentPath}
                href = "/"
                label = "Home"
            />
            <LinkItem 
                {currentPath}
                href = "/about"
                label = "About"
            />
            <MobileDropDown 
                label = "Practice Areas"
                options = {practice_areas}
                client:only = "react"
                currentPath = {currentPath}
                client:only="react"
            />
            <LinkItem 
                {currentPath}
                href = "/blog/1"
                label = "Blog"
            />
            <LinkItem 
                {currentPath}
                href = "/contact-us"
                label = "Contact Us"
            />
            <div
                class = "hover:text-primaryC cursor-pointer nav-link w-nav-link"
                id="CloseMobileMenuLink"
            >Close</div>
        </nav>      
    </div>
</div>