---
import BaseLayout from "@/layout/BaseLayout.astro"
import PhoneIcon from "@/components/graphics/phone-icon.astro";
import EmailIcon from "@/components/graphics/email-icon.astro";
import { BusinessInfo } from "@/data/business-info";
import ContactForm from "@/components/contact-form.tsx";
import BannerTitleSection from "@/components/banner-title-section.astro"; 
import {formatPhone} from "@/hooks/number";
---
<BaseLayout
   pageTitle = "Contact Me"
   customDescription = "Lawyer site"
>
      <BannerTitleSection title = "Contact Me"/>
      <div class="contact-form-section">
         <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
            <div class="contact-info-wrap">
               <div class="grid md:grid-cols-2 md:gap-x-10 w-full">
                  <div
                     class = "md:border-r-[1px] md:border-r-[rgba(255,255,255,0.3)] md:text-right md:pr-10"
                  >
                     <h3 class="contact-info-title">{BusinessInfo.city}</h3>
                     <p class="info-office-address">{BusinessInfo.street},<br /> {BusinessInfo.city}, {BusinessInfo.state} {BusinessInfo.zip}</p>
                  </div>
                  <div class = "mt-10 md:mt-0">
                     <div
                        class = "flex flex-row gap-5"
                     >
                        <div class="flex border-2 border-solid border-primaryC rounded-full justify-center align-center w-[62px] h-[62px] min-w-[62px] p-4 sm:p-5">
                           <img 
                           src="/assets/icons/header-mail-icon.svg" 
                           loading="lazy" 
                           alt="Email Icon"/
                           class = ""
                           >
                        </div>    
                        <a 
                        href={`mailto:${BusinessInfo.email}`}
                        class="contact-intro-link my-auto">{BusinessInfo.email}</a>
                     </div>
                     <div
                        class = "flex flex-row gap-5 my-5"
                     >
                        <div class="flex border-2 border-solid border-primaryC rounded-full justify-center align-center w-[62px] h-[62px] min-w-[62px] p-4 sm:p-5">
                           <img 
                           src="/assets/icons/header-call-icon.svg" 
                           loading="lazy" 
                           alt="Phone Icon"/
                           class = ""
                           >
                        </div>  
                        <a href={`tel:${BusinessInfo.phone}`} class="contact-intro-link">{formatPhone(BusinessInfo.phone)}</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="contact-form-wrap">
               <div class="contact-form-item">
                  <div class="w-form">
                     <h2
                        class = "text-primaryC text-3xl sm:text-4xl"
                     >Send me a message</h2>
                     <ContactForm 
                        client:only="react"
                     />
                     <div class="success-message w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                     </div>
                     <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="contact-links-wrap">
               <div class="w-layout-grid contact-links-grid">
                  <div class="hidden contact-link-infos">
                     <PhoneIcon />
                     <EmailIcon />
                  </div>
                  <div class="contact-link-info">

                  </div>
               </div>
            </div>
         </div>
      </div>
</BaseLayout>