---
import ImageDivider from "@/components/image-dividers/courthouse-corner.astro"; 
import EliHeadshot from "../eli-headshot.astro";
const {
         title ="Do you think you have a case?",
         leftContent = "I'm ready to offer my expertise to get you the best results. Send me a message and I'll get in touch with you shortly, or you can call me between 9:00 am and 8:00 pm Monday to Saturday."
} = Astro.props;
const responsiveSize = "sm:w-[400px] sm:h-[400px] min-[992px]:w-[340px] min-[992px]:h-[340px]  min-[1100px]:w-[400px] min-[1100px]:h-[400px]"
---
<div class="consultation-section lg:pt-0 overflow-hidden">
   <div class="container w-container">
      <div class="consultation-wrap">
         <div class="w-layout-grid consultation-grid">
         <!-- <div class="flex flex-col lg:flex-row"> -->
            <div class="consultation-intro-wrap">
               <div class="section-title-left childrenFadeInFromBottomTag">
                  <h2 class="section-left-title-text fadeOutIntoBottom ">{title}</h2>
                  <img 
                  src="/assets/icons/small-separator-gold.svg" 
                  loading="lazy" 
                  alt="Call For Consultation"
                  class = "w-[95px] h-[44px] fadeOutIntoBottom !delay-[250ms]"
                  />
                  <p 
                  class="section-left-content fadeOutIntoBottom !delay-[500ms]" 
                  >{leftContent}<br/></p>
               </div>
               <div class="consultation-button-wrap">
                  <a 
                  href="/contact" 
                  class="button w-button hover:bg-transparent hover:text-primaryC transition-all duration-1000 w-fit" 
                  >Get in touch!</a>
               </div>
            </div>
            <div
               class = "relative mx-auto lg:ml-0 sm:h-[560px] w-full my-10 childrenFadeInFromBottomTag"
            >  
               <EliHeadshot
                  wrapperStyle = "sm:absolute bg-transparent z-[1] sm:h-[400px] md:left-[75px] min-[991px]:left-0 min-[991px]:translate-x-[0px] fadeOutIntoBottom"
                  imgStyle = {`object-fit w-[300px] h-[300px] min-[400px]:w-[400px] min-[400px]:h-[400px] ${responsiveSize} mx-auto block`}
                  immediateLoading = {false}
               />
               <div
                  class = {`hidden sm:block absolute rounded-full overflow-hidden w-[300px] h-[300px] fadeOutIntoBottom
                  ${responsiveSize} translate-x-[140px] md:right-[75px] md:translate-x-[0px] min-[991px]:translate-x-[150px] min-[991px]:translate-y-[150px] lg:translate-x-[150px] xl:translate-x-[50px] translate-y-[100px]`}
               >
                  <img 
                     src = "/assets/images/court-house.webp"
                     alt = "court house"
                     class = "object-cover m-auto w-full h-full"
                     loading = "lazy"
                     decoding="async"
                     class = "object-fit w-[300px] h-[300px] sm:w-[400px] sm:h-[400px]"
                  />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<ImageDivider
/>
