---
export const prerender = true;
import BaseLayout from "@/layout/BaseLayout.astro"
import NavBar from "@/components/navigation/index.astro";
import BannerTitleSeparator from "@/components/graphics/banner-title-separator.astro"; 
import CTASection from "@/components/call-to-action/version2.astro"; 
const {
    title, 
    keyword, 
    customDescription, 
    CTAHeader,
    CTAleftContent, 
} = Astro.props; 
---
<BaseLayout 
  pageTitle={keyword}
  {customDescription}
>
  <div class="practice-area-banner">
    <div class="banner-title-overlay"></div>
    <NavBar />
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
      <div class="banner-title-wrap childrenFadeInFromBottomTag">
        <div class="fadeOutIntoBottom banner-area-title fadeOutIntoBottom font-primaryF">
          <p class = "text-4xl lg:!text-6xl">{title}</p>
        </div>
        <BannerTitleSeparator customStyle = "fadeOutIntoBottom mx-auto delay-500" />
      </div>
    </div>
  </div>
  <section class="practice-area-single-section1">
    <div class="max-w-[100%] px-[30px] min-[480px]:px-[40px] min-[1280px]:max-w-[100%] min-[1280px]:px-[40px] min-[1440px]:max-w-[1440px] min-[1440px]:px-[20px] min-[1920px]:px-0 container mx-auto before:content-[' '] after:content-[' '] before:grid-area-[1/1/2/2] after:grid-area-[1/1/2/2] before:table after:table after:clear-both w-container">
      <div class="practice-content-wrap">
        <div class="practice-single-content">
          <div class="w-richtext [&>p]:mb-10">
              <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
  <CTASection 
    title = {CTAHeader}
    leftContent = {CTAleftContent}
  />
</BaseLayout>
