---
export const prerender = true;
import BaseLayout from "@/layout/BaseLayout.astro"
import NavBar from "@/components/navigation/index.astro";
import BannerTitleSeparator from "@/components/graphics/banner-title-separator.astro"; 
import ResponsiveImage from "@/components/graphics/ResponsiveImage.astro"
import ImageDivider from "@/components/image-dividers/courthouse-corner.astro"; 
import CTASection from "@/components/call-to-action/version1.astro"; 
const {
    title, 
    customDescription,
    defaultImg, 
    phoneImg, 
    mediumTabImg, 
    tabletImg,  
    CTAHeader,
    CTAleftContent, 
} = Astro.props; 
---
<BaseLayout 
pageTitle={title} 
{customDescription}
>
  <div class="practice-area-banner">
    <div class="banner-title-overlay"></div>
    <NavBar />
    <div class="container w-container">
      <div class="banner-title-wrap childrenFadeInFromBottomTag">
        <h1 class="banner-area-title fadeOutIntoBottom">{title}</h1>
        <BannerTitleSeparator customStyle = "mx-auto fadeOutIntoBottom delay-500" />
      </div>
    </div>
  </div>
  <div class="practice-area-single-section">
    <div class="container w-container">
      <div class="practice-content-wrap">
        <ResponsiveImage 
            {defaultImg}
            {phoneImg}
            {mediumTabImg}
            {tabletImg}
            altText = {title}
        />
        <div class="practice-single-content">
          <div class="w-richtext [&>p]:mb-10">
              <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="divider-section">
    <div class="container w-container">
      <div class="divider-line"></div>
    </div>
  </div> -->
  <ImageDivider />
  <CTASection 
    title = {CTAHeader}
    leftContent = {CTAleftContent}
  />
</BaseLayout>
